<html>
{% extends 'bobaDrinks/base.html' %}
                  {% block index %}
                 <br>
                  <h1 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Times, serif;" align="center">Boba is bae.</h1>
                  <br>
                  <div class="container">
                      <h3 align="center">I am addicted to Boba, <br>

                            It is plain to see,<br>
                            
                            There is nothing I would love more,<br>
                            
                            Then to have it in my tea.</h3>
                        <p align="right">- ContinuallyCreating (Tea Amino)
                                </p>    
                  </div>

                  {% endblock %}
        
</html>