{% extends 'bobaDrinks/base.html' %}

{% block orderForm %}
<br>
<h1 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Times, serif;" align="center">How do you drink your boba?</h1>
<h4 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Times, serif;" align="center">(where each one is made with love)</h4>

<br>
<div class="container" align="center">
    <!-- <form method="POST" action="./thanks" >{% csrf_token %} -->
        <div class="form-group">
           
            {{ cForm.as_p }}
        </div>

        <div class="form-group">
            {{ dForm.as_p }}
        </div>

        <form method="get" action="./thanks">
            <button type="submit" class="save btn-dark">Submit!</button>
        </form>
    <!-- </form>     -->
</div>

{% endblock %}


       
       
       
     
        
